.imagecontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid lightgray;
    margin: 10px 15px;
    border-radius: 15%;
    box-shadow: lightgray 0px 0px 10px 3px;
    transition: all 200ms ease-in-out
}

.imagecontainer:hover{
    transform: scale(1.04)
}

.imagecontainer__image{
    object-fit: contain;
    border-radius: 0 0 15% 15%;
    width: 250px;
    margin: 0px 0px;
}

.imagecontainer > h3{
    margin: 10px 15px !important;
}

